<div class="signup-container">
	<form class="signup-form" action="/sign_up" method="post">
		<label>Username: </label>
		<input type="text" name="username">
		<label>Passoword: </label>
		<input type="text" name="password">
		<input type="submit" value="Sign up">
	</form>
</div>