
<div class="login-container">
	<form class="login-form" action="/sign_in" method="post">
		<label>Username: </label>
		<input type="text" name="username">
		<label>Password: </label>
		<input type="text" name="password">
		<input type="submit" value="Log in">
	</form>
</div>