<div class="signup-container">
	<form class="signup-form" action="/sign_up" method="post">
		<label>Username: </label>
		<input type="text" name="username">
		<label>Email: </label>
		<input type="text" name="email">
		<label>Passoword: </label>
		<input type="text" name="password">
		<input type="submit" value="Sign up">
		<% if flash[:notice] %>
		<%= flash[:notice] %>
		<% end %>
	</form>
</div>